.banner{
    background-image: url(./img/pattern.png);
    background-color: rgb(70, 70, 212);
    max-width: 100%;
    height: 100px;
}
#logo{
    width: 150px;
    height: auto;
    position: relative;
    top: 60px;
}
.descrizione{
    font-size: 12px;
}
.table{
    table-layout: auto;
    border-collapse: collapse;
    border: 0px;
}
#thead{
    background-color: rgb(18, 166, 246);
}